body {
    background: #fff;
}

.header {
    width: 100%;
}

.search-input {
    border: 0 none #fff;
    width: 90%;
    float: left;
    height: 100%;
    outline: none;
}

.search {
    height: 35px;
    display: block;
    float: left;
    position: relative;
    z-index: 12;
    margin: 0;
    border: 1px solid #999;
    border-radius: 2px;
    outline: none;
    padding: 0px 5px;
    font-size: 90%;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.fa-search {
    display: block;
    float: left;
    margin-top: 13px;
}

.fa-search{
    display: block;
    float: left;
     margin-top: 11px;
}



.low, .high {
        display: block;
    float: left;
    margin-right: 20px;
}

p{
    margin: 0 auto 5px;
    color: #999;
}

.value {
     color: #555;
     font-size: 16px;
}

.vals {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.alert {
    color: red !important;
}

h1 {
    color: #333;
    font-size: 14px;
}

.table {
    padding: 10px;
    border: 0.1px solid #f2f2f2;
    margin-top: 20px;
    border-radius: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    padding: 7px;
    border-top: 0px none #fff;
}

.form-container {
    width: 100%;
    min-width: 100%;
}

.col-sm-6 {
    width: 50%;
    float: left;
}

.col-md-3 {
    width: 25%;
    float: left;
}

label {
    color: #333;
    font-size: 11px;
}

.actions {
    padding-top: 10px;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete{
    background: #fff;
    z-index: 1000;
    list-style: none;
    padding: 4px;
}